.property-box {
    padding: var(--size-4);
    border: 2px dotted var(--color-gray-400);
    border-radius: var(--rounded-md);
}
.group-renderer {
    text-align: left;
}
.group-renderer__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-box {
    padding: 5px;       
    border: 2px solid var(--color-gray-400);
    border-radius: var(--rounded-md);
    display: grid;
}

.group {
    display: flex;
}

.group--row {
    flex-direction: row;
}

.group--column {
    flex-direction: column;
}
