.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--size-6) var(--size-4);
    border-radius: var(--rounded-md);
    background: var(--color-gray-900);
    gap: var(--size-4);
}

.form {
    display: flex;
    flex-direction: column;
    gap: var(--size-7);
}

.form-action {
    width: 100%;
    display: flex;
    margin-top: var(--size-8);
    align-items: flex-end;
    justify-content: end;
    gap: var(--size-4);
}

.form-title {
    font-size: var(--font-xl);
    font-weight: 700;
}

.create-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--size-4);
}

.create-group__basic {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
}

.create-group__label {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
}

.splits {
    height: 10rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: var(--size-3) 0;
    gap: var(--size-2);
}
